/Inventario/nbproject/private/
/Inventario/build/
/WebService RestFul/nbproject/private/
/WebService RestFul/build/
/WebService RestFul/dist/
/ServRESTBDTutorias/nbproject/private/
/test/nbproject/private/
/ServRESTBDTutorias/build/
/ServRESTBDTutorias/dist/
/test/build/
/test/dist/